$s-arr-b-small = 84px 23px -84px -23px 14px 6px 101px 67px 'sprite.png';
$s-arr-b = 56px 0px -56px 0px 45px 23px 101px 67px 'sprite.png';
$s-arr-l = 56px 23px -56px -23px 7px 15px 101px 67px 'sprite.png';
$s-arr-t = 0px 39px 0px -39px 45px 23px 101px 67px 'sprite.png';
$s-close-big = 0px 0px 0px 0px 39px 39px 101px 67px 'sprite.png';
$s-close = 45px 39px -45px -39px 20px 20px 101px 67px 'sprite.png';
$s-codedby = 0px 62px 0px -62px 47px 5px 101px 67px 'sprite.png';
$s-coderiver = 47px 62px -47px -62px 49px 5px 101px 67px 'sprite.png';
$s-eye = 63px 23px -63px -23px 21px 11px 101px 67px 'sprite.png';
$s-pin = 65px 39px -65px -39px 12px 19px 101px 67px 'sprite.png';
$s-sep = 39px 0px -39px 0px 17px 30px 101px 67px 'sprite.png';
